@media (max-width: 1325px) {
    .stat-value {
        font-size: 1.5rem;
    }

    .stat-icon {
        font-size: 1rem;
    }

    .stat-label {
        font-size: 0.775rem;
    }
}

@media (max-width: 1200px) {
    .stat-value {
        font-size: 1.3rem;
    }
    .stat-icon {
        width: 35px;
        height: 35px;
    }

    .stat-icon i {
        font-size: 0.8rem;
    }
}

@media (max-width: 1150px) {
    .stat-value {
        font-size: 1rem;
    }
    .stat-icon {
        width: 30px;
        height: 30px;
    }

    .stat-icon i {
        font-size: 0.7rem;
    }

    .stat-label {
        font-size: 0.7rem;
    }

    .stat-card .card-body {
        padding: 1rem;
    }
}

@media (max-width: 1024px) {
    /* .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100vh;
        z-index: 1000;
        width: 250px;
    } */

    /* .main-content {
        margin-left: 0px;
    } */

    .stat-value {
        font-size: 1.3rem;
    }
    .stat-icon {
        width: 35px;
        height: 35px;
    }

    .stat-icon i {
        font-size: 0.8rem;
    }
}

@media (max-width: 991px) {
    .stat-card .card-body {
        padding: 1.5rem;
    }

    .stat-label {
        font-size: 0.875rem;
    }

    .stat-value {
        font-size: 2rem;
    }

    .stat-icon {
        width: 40px;
        height: 40px;
    }
    .stat-icon i {
        font-size: 1.2rem;
    }

    .table-list td {
        font-size: 0.9rem;
    }

    .table-list .btn-group .btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 799px) {
    .main-content {
        margin-left: 0px;
    }

    .table-list td {
        font-size: 0.8rem;
    }

    .table-list .btn-group .btn {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    /* .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100vh;
        z-index: 1000;
        width: 250px;
    } */

    .sidebar.show {
        left: 0;
    }

    .search-box {
        width: 200px;
    }
}

@media (max-width: 575px) {
    .status-filter {
        display: grid !important;
    }

    .order-header {
        width: 100%;
        text-align: center;
    }

    main {
        padding: 0.5rem !important;
    }

    .table-list img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 350px) {
    .stat-card .card-body {
        padding: 1.3rem;
    }

    .stat-label {
        font-size: 0.875rem;
    }

    .stat-value {
        font-size: 1.5rem;
    }

    .stat-icon {
        width: 35px;
        height: 35px;
    }
    .stat-icon i {
        font-size: 1rem;
    }

    .order-card .card-header,
    .order-card .card-body {
        padding: 10px;
    }

    .order-card .order-number,
    .order-card .card-body .bi-person {
        display: none;
    }

    .order-card span {
        font-size: 0.8rem;
    }

    .order-card .text-muted {
        font-style: normal !important;
    }

    .order-card .total-value {
        font-size: 1rem !important;
    }

    .table-list td {
        font-size: 0.7rem;
    }

    .table-list th {
        font-size: 0.8rem;
    }

    .table-list .btn-group .btn {
        font-size: 0.7rem;
    }

    .btn-group-form button {
        font-size: 0.8rem !important;
    }

    form label,
    form input,
    form textarea,
    form select {
        font-size: 0.9rem !important;
    }
}
